

<web-app

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID"
	version="4.0">

  	<display-name>Ejercicios Programacion</display-name>
  	
  	<servlet>
  	
      	<servlet-name>def</servlet-name>
      	<servlet-class> org.springframework.web.servlet.DispatcherServlet </servlet-class>
        <load-on-startup>1</load-on-startup>
        <multipart-config>
		    <max-file-size>52428800</max-file-size>
		    <max-request-size>418018841</max-request-size>
		    <file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
		
    </servlet>
  	
  	<welcome-file-list>
  	
	    <welcome-file>index.html</welcome-file>
	    
  	</welcome-file-list>
    
    <servlet-mapping>
    
        <servlet-name>def</servlet-name>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.ico</url-pattern>
    </servlet-mapping>
  
  	<session-config>
    	<session-timeout>60</session-timeout>
    </session-config>
  
  	<mime-mapping>
	    <extension>ico</extension>
	    <mime-type>image/x-icon</mime-type>
	</mime-mapping>
  
  	<filter>
		<filter-name>HSTSFilter</filter-name>
		<filter-class>rio.antelodel.david.ejercicios_programacion.spring_config.filter.HSTSFilter</filter-class>
	</filter>
  
  	<filter-mapping>
	    <filter-name>HSTSFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
  
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>rio.antelodel.david.ejercicios_programacion.spring_config.filter.MyCharacterEncodingFilter</filter-class>
	</filter>
	
	<filter-mapping>
	    <filter-name>CharacterEncodingFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
  
</web-app>